@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: 'Cinzel', serif;
}

body, html {
  height: 100%;
}

.mainbg {
  /* The image used */
  background-image: url("../assets/city.jpg");
}

.bg {

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;

}

.logo {
    width: 100%;
    z-index: 100;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  font-family: 'Cinzel', serif;
}

.centered {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* font-style: italic; */
  color: lightblue;
  font-family: 'Cinzel', serif;
  font-weight: 900;
  font-size: 1.2em;
  width: 100%;
        color: #90aefa;
}

.menuButt {
        position: fixed;
        top: 1em;
        right: 1em;
        z-index: 1;
        cursor: pointer;
}

.menuButt > li:nth-child(odd) {
  background-color: white; 
  border: 1px solid black;
}

.menuButt > li {
        width: 3em;
        height: 0.5em;
        list-style-type: none;
}

.menu {
        position: fixed;
        z-index: 333;
        right: 0;
        /* width: 60%; */
        height: 100%;
        background-color: black;
        display: none;
}

.menu > ul {
        list-style-type: none;
        padding: 1em;
        margin-top: 2em;
        font-size: 2em;
}

.menu > ul > li {
        padding-bottom: 0.5em;
        color: #90aefa;
        cursor: pointer;
}

.menu > ul > li > a {
        text-decoration: none;
        color: #90aefa;
}

.menuClose {
        float: right;
        font-size: 3em;
        cursor: pointer;
        color: #90aefa;
}

.footerText {
  text-align: center;
}

.about {
  background-image: url("../assets/house1.jpg");
}

.mission {
  background-image: url("../assets/house2.jpg");
}

.contact {
  background-image: url("../assets/house3.jpg");
}

.sectionSubText {
  font-size: 5vw;
    width: 100%;
    height: 50%;
}

.section {
  height: 90%;
  margin-top: 5%;
      background-color: #d9d9d9;
    border: 1em solid gold;
    text-align: center;
}

* {
  box-sizing: border-box;
}

video {
    object-fit: fill;
}

/* Position the image container (needed to position the left and right arrows) */
.containerGallery {
  position: relative;
  /* max-width: 90em; */
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
      background-color: black;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row {
  position: relative;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
  max-height: 10em;
  width: 100%;
}

.active,
.demo:hover {
  opacity: 1;
}

@media screen and (orientation:portrait) {
  /* .gal { */
  /*   width: 100%; */
  /*     min-width: 100%; */
  /*       margin: unset; */
  /* } */

}
